.signup-btn {
  border: 1px solid #4b5563; /* border-gray-700 */
  border-radius: 0.375rem; /* rounded-md */
  padding: 0.5rem 0.75rem; /* py-2 px-3 */
  color: #4b5563; /* text-gray-700 */
  background-color: transparent; /* bg-transparent */
  transition: all 0.5s ease; /* transition-all duration-300 */
}

.signup-btn:hover {
  background-color: black;
  color: white; /* نص أزرق */
}